* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    gap: 2rem;
    padding-right: 2rem;
}

header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: #EB5D34;
}

.orange-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EB5D34;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    color: black;
    padding: .5rem 3.2rem .5rem 1.2rem;
}

main {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.icon {
    margin-right: .2em;
}

a.location {
    color: black;
    transition: color .5s ease;
}

a.location:hover {
    color: white;
}

a.phone-number {
    color: black;
    transition: color .5s ease;
}

a.phone-number:hover {
    color: white;
}

a.envelope {
    margin-left: 3rem;
    color: black;
    transition: color .5s ease;
}

a.envelope:hover {
    color: white;
}

.content {
    flex: 1;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
