* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Dit dekt het volledige gewichtsbereik van een variabel lettertype */
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden; /* Geen scrollbar voor het browservenster */
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    /*font-size: 16px;*/
    /*line-height: 1.5;*/
    /*color: #333;*/
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Of 'cover', afhankelijk van het gewenste effect */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    gap: 2rem;
    padding-right: 2rem;
}

header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: #EB5D34;
    /*font-weight: bold;*/
}

.orange-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EB5D34;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    color: black;
    padding-left: 1.2rem;
    padding-right: 3rem;
}

main {
    flex: 1;
    overflow-y: auto;
}

.location::before {
    content: '';
    display: inline-block;
    width: .8em;
    height: .8em;
    margin-right: .4em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. --><path d='M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    transform: translateY(-.1em);
}

a.location {
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
}

a.location:hover {
    color: #444444;
}

.phone-number::before {
    content: '';
    display: inline-block;
    width: .8em;
    height: .8em;
    margin-right: .4em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. --><path d='M347.1 24.6c7.7-18.6 28-28.5 47.4-23.2l88 24C499.9 30.2 512 46 512 64c0 247.4-200.6 448-448 448c-18 0-33.8-12.1-38.6-29.5l-24-88c-5.3-19.4 4.6-39.7 23.2-47.4l96-40c16.3-6.8 35.2-2.1 46.3 11.6L207.3 368c70.4-33.3 127.4-90.3 160.7-160.7L318.7 167c-13.7-11.2-18.4-30-11.6-46.3l40-96z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    transform: scaleX(-1);
}

a.phone-number {
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
}

a.phone-number:hover {
    color: #444444;
}

.envelope::before {
    content: '';
    display: inline-block;
    width: .8em;
    height: .8em;
    margin-right: .4em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. --><path d='M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 3rem;
}

a.envelope {
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
}

a.envelope:hover {
    color: #444444;
}
