* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Raleway';
    src: url('/static/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    gap: 2rem;
    padding-right: 2rem;
}

header nav a {
    color: white;
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    transition: color .5s ease-in-out;
}

header nav a:hover {
    color: aqua;
}

.nav-link {
    color: white;
}

.nav-link.active {
    color: #EB5D34;
}

.orange-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EB5D34;
    height: 2.5rem;
    width: 100%;
    text-align: center;
    color: black;
    padding: .5rem 3.2rem .5rem .8rem;
}

.hamburger {
    color: white;
}

.hamburger label {
    cursor: pointer;
    font-size: 30px;
    user-select: none;
}

@media (max-width: 48rem) {
    .orange-bar {
        display: none;
    }
    .nav-bar {
        display: none;
    }
    .hamburger {
        display: block;
    }
}

#hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    background-color: #222;
    transition: min-height .3s ease-out;
}

#hamburger-menu a {
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    transition: color .5s ease-in-out;
}

#hamburger-menu a:hover {
    color: aqua;
}

#hamburger-menu .nav-link {
    color: white;
}

#hamburger-menu .nav-link.active {
    color: #EB5D34;
}

@media (min-width: 48rem) {
    .hamburger {
        display: none;
    }
    #hamburger-menu {
        display: none;
    }
}

main {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.home-container {
    background: url("/static/images/banner-bg.png") no-repeat top right;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*gap: 2rem;*/
    padding: 2rem;
    min-height: 100%;
}

.voor-jou {
    background-color: #EB5D34;
    width: 32%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10rem;
}

.icon {
    margin-right: .2em;
}

a.location {
    color: black;
    transition: color .5s ease;
}

a.location:hover {
    color: white;
}

a.phone-number {
    color: black;
    transition: color .5s ease;
}

a.phone-number:hover {
    color: white;
}

a.envelope {
    margin-left: 3rem;
    color: black;
    transition: color .5s ease;
}

a.envelope:hover {
    color: white;
}

.content {
    flex: 1;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

.producten-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 30rem;
    gap: 3rem;
}

.producten-item {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white 3px solid;
    border-radius: 2rem;
    /* box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all .5s ease;
}

.producten-item.spacer {
    height: 1rem;
}

a.producten-item {
    color: black;
    text-decoration: none;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
}

a.producten-item:hover {
    color: #EB5D34;
    border-color: #EB5D34;
}

a h3.producten-item {
    margin-bottom: 2rem;
}

a h1.producten-item {
    padding: 1rem;
    margin: 1rem;
}
