<div class="home-container">
    <div class="voor-jou">
        <div class="voor-jou-box">
            <h1>AV Verhuur</h1>
            <h1 class="orange">Voor Jou</h1>
            <p class="bigger">Verhuur van licht en geluid installaties.</p>
            <p>
                <a href="/producten" hx-push-url="/producten" class="button">Bekijk producten</a>
                <a href="/contact" hx-push-url="/contact" class="button">Contact</a>
            </p>
        </div>
    </div>

    <div class="waarom-content">
        <div class="waarom-container">
            <div class="row">
                <div class="col-md-12">
                    <h1>WAAROM ONS KIEZEN</h1>
                </div>
            </div>
            <div class="choose_section_2">
                <div class="row">
                    <div class="col-sm-4">
                        <div><img src="/static/images/icon-1.png"></div>
                        <h4>Scherpe Prijzen</h4>
                        <p>Uw budget, onze prioriteit - hoogwaardige audio- en lichtverhuur tegen scherpe prijzen!</p>
                    </div>
                    <div class="col-sm-4">
                        <div><img src="/static/images/icon-2.png"></div>
                        <h4>Online Boeken</h4>
                        <p>Geen offertes, geen wachttijden - check de beschikbaarheid en boek direct bij ons</p>
                    </div>
                    <div class="col-sm-4">
                        <div><img src="/static/images/icon-3.png"></div>
                        <h4>Expertise</h4>
                        <p>Meer dan verhuur - wij zijn uw audio-specialisten!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-content">
        <div class="slider-container">
            <div class="slideshow-container">
                <div class="slides">
                    <div class="slide"><img src="/static/images/add1.jpg" alt="Patterns AV"></div>
                    <div class="slide"><img src="/static/images/add2.jpg" alt="Patterns AV"></div>
                    <div class="slide"><img src="/static/images/add3.jpg" alt="Patterns AV"></div>
                    <div class="slide"><img src="/static/images/add1.jpg" alt="Patterns AV"></div>
                </div>
            </div>
        </div>
    </div>
</div>
