<div class="voorwaarden-content">
    <div class="voorwaarden-container">
        <h1>Algemene <span style="color: #EB5D34;">Voorwaarden</span></h1>
        <h2>Artikel 1: Definities</h2>
        <ul>
            <li><strong>Verhuurder:</strong> Patterns AV, gevestigd te Steiger 24, Almere.</li>
            <li><strong>Huurder:</strong> De natuurlijke of rechtspersoon die met Verhuurder een overeenkomst aangaat betreffende de huur van audio- en visuele          apparatuur.</li>
            <li><strong>Apparatuur:</strong> Alle apparatuur die onderwerp is van de huurovereenkomst.</li>
        </ul>
        <h2>Artikel 2: Toepasselijkheid</h2>
        Deze algemene voorwaarden zijn van toepassing op alle aanbiedingen, offertes en overeenkomsten tussen Verhuurder en Huurder.
        <h2>Artikel 3: Offertes en Aanbiedingen</h2>
        Alle offertes en aanbiedingen van Verhuurder zijn vrijblijvend, tenzij anders is aangegeven.
        <h2>Artikel 4: Huurperiode en Levering</h2>
        De huurperiode gaat in op de dag dat de Apparatuur aan Huurder wordt geleverd en eindigt op de dag dat de Apparatuur wordt geretourneerd aan         Verhuurder.
        <h2>Artikel 5: Annulering</h2>
        Bij annulering door de Huurder gelden de volgende annuleringskosten:
        <ol>
            <li>Meer dan 30 dagen voor aanvang van de huurperiode: geen kosten</li>
            <li>Tussen 30 en 14 dagen voor aanvang: 25% van de totale huursom</li>
            <li>Tussen 14 en 7 dagen voor aanvang: 50% van de totale huursom</li>
            <li>Minder dan 7 dagen voor aanvang: 100% van de totale huursom</li>
        </ol>
        <h2>Artikel 6: Betaling</h2>
        Betaling dient te geschieden binnen 14 dagen na factuurdatum.
        <h2>Artikel 7: Aansprakelijkheid en Schade</h2>
        Huurder is volledig aansprakelijk voor schade aan de Apparatuur tijdens de huurperiode, tenzij de schade is ontstaan door toedoen van         Verhuurder.
        <h2>Artikel 8: Geschillen</h2>
        Op deze overeenkomst is Nederlands recht van toepassing. Geschillen zullen worden voorgelegd aan de bevoegde rechter te Lelystad.
        <h2>Artikel 9: Verzending en Transport</h2>
        <ol>
            <li>Verhuurder is verantwoordelijk voor de levering en het ophalen van de Apparatuur, tenzij anders overeengekomen tussen Verhuurder en Huurder. De kosten voor levering en ophalen worden apart in rekening gebracht en zijn niet inbegrepen in de huurprijs</li>
            <li>Indien Huurder ervoor kiest om de Apparatuur zelf op te halen en terug te brengen, is Huurder volledig verantwoordelijk voor de Apparatuur vanaf het moment dat deze de locatie van Verhuurder verlaat tot het moment dat deze terugkeert naar de locatie van Verhuurder.</li>
            <li>Huurder is verplicht om de Apparatuur te controleren op eventuele schade of gebreken bij ontvangst. Eventuele schade of gebreken dienen onmiddellijk te worden gemeld aan Verhuurder.</li>
            <li>Bij verzending van de Apparatuur is Verhuurder verantwoordelijk voor de Apparatuur tot het moment van levering. Vanaf het moment van levering is Huurder verantwoordelijk voor de Apparatuur.</li>
            <li>Indien de Apparatuur tijdens transport beschadigd raakt of verloren gaat, en dit transport is georganiseerd door Huurder, is Huurder aansprakelijk voor de schade of het verlies.</li>
            <li>Verhuurder is niet aansprakelijk voor vertragingen in de levering die worden veroorzaakt door omstandigheden buiten de controle van Verhuurder, zoals verkeersomstandigheden, weersomstandigheden of vertragingen veroorzaakt door derden.</li>
        </ol>
        <h2>Artikel 10: Onderhoud en Reparatie</h2>
        <ul>
            <li>Huurder is verantwoordelijk voor het normale onderhoud van de Apparatuur tijdens de huurperiode.</li>
            <li>In geval van defecten of noodzakelijke reparaties aan de Apparatuur, dient Huurder onmiddellijk contact op te nemen met Verhuurder. Huurder mag geen reparaties uitvoeren zonder voorafgaande schriftelijke toestemming van Verhuurder.</li>
        </ul>
        <h2>Artikel 11: Veiligheid en Gebruik</h2>
        Huurder is verantwoordelijk voor het veilig en correct gebruiken van de Apparatuur volgens de instructies van de Verhuurder en de fabrikant.
        <h2>Artikel 12: Verzekering</h2>
        Huurder is verplicht om aansprakelijkheid te dragen voor diefstal, verlies en schade aan de Apparatuur tijdens de huurperiode.
        <h2>Artikel 13: Privacy</h2>
        Verhuurder respecteert de privacy van Huurder en zal alle persoonlijke gegevens die worden verzameld in overeenstemming met de toepasselijke privacywetgeving behandelen.
        <h2>Artikel 14: Intellectueel Eigendom</h2>
        Alle intellectuele eigendomsrechten met betrekking tot de Apparatuur blijven te allen tijde bij Verhuurder of de oorspronkelijke fabrikant.
        <h2>Artikel 15: Late Betalingen</h2>
        Indien Huurder de factuur niet binnen de gestelde termijn betaalt, is Huurder in verzuim zonder dat een ingebrekestelling nodig is. Huurder is dan wettelijke rente verschuldigd over het openstaande bedrag.
        <h2>Artikel 16: Beëindiging van de Overeenkomst</h2>
        Verhuurder heeft het recht om de overeenkomst te beëindigen in geval van ernstige schending van de overeenkomst door Huurder, zoals niet-betaling, schade aan de Apparatuur of ongeoorloofd gebruik van de Apparatuur.
    </div>
</div>
